<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}{% endblock %}
			- Tristan Lefèvre</title>
		{% block stylesheet %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/bootstrap-footer.css">
			<link rel="stylesheet" href="/css/centered.css">
		{% endblock %}
		{% block script %}
			<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<header class="bg-dark text-light container-fluid pl-0">
			<div class="d-flex flex-row">
					<nav class="navbar navbar-dark navbar-expand-lg w-100">
						<div class="d-flex flex-row">
							<a href="\" class="nav-link">
								<h1 class="navbar-brand">Tristan Lefevre</h1>
							</a>
						</div>
    					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav w-100">
								<li class="nav-item">
								</li>
								<li class="nav-item flex-grow-1">
									<a href="\post" class="nav-link">Articles
									</a>
								</li>
								<li class="nav-item">
									{% if guest() %}
										<a href="/login" class="btn btn-success">Connexion</a>
										<a href="/register" class="btn btn-warning">Inscription</a>
									{% endif %}
									{% if auth('User') %}
										<a href="/profil/{{ getSession('pseudo') }}" class="btn btn-success">Profil</a>
										<a href="/logout" class="btn btn-danger">Deconnexion</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- Page Content-->
		<main>
			{% block content %}{% endblock %}
		</main>
		<!-- footer -->
		<footer class="footer bg-dark row align-items-start mx-0">
		<div class="col"></div>
		<div class="col py-3">
			<p class="text-center text-white mb-0">Tristan Lefèvre, 2021</p>
		</div>
		<div class="col py-2">
			{% if auth('Writer') %}
			<p class="text-center mb-0">
				<a href="/admin" class="btn btn-warning">Admin</a>
			</p>
			{% endif %}
		</div>
		</footer>
{% block modal %}{% endblock %}
	</body>
</html>
