{% extends "base.twig" %}

{% block title %}Acceuil{% endblock %}
{% block content %}
<h1> Tristan Lefevre</h1>
<h2> Développeur polyvalent </h2>


<a class="btn btn-primary" href="/cv"> Regarder mon cv</a>
{% endblock %}