{% extends "/base.twig" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Articles{% endblock %}
{% block content %}
<div class="container">
	<div class="list-group">
		{% for post in posts %}
			<a href="{{ post.getDisplayUrl() }}" class="list-group-item list-group-item-action">
				<h3> {{ post.gettitlePost() }}</h3>
				<p> {{ post.getchapoPost() }}</p>
			</a>
		{% endfor %}
	</div> 
</div>
{% endblock %}