{% extends "/base.twig" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Inscription{% endblock %}
{% block content %}
<style>
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
</style>
	<div class="container centered">
		<div class="card">
			<div class="card-body">
				<h1>Nouveau mot de passe</h1>
				<hr>
				{% if message != null %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endif %}
				<form method='POST' action='\forgotPassword\{{ token }}'>
					<div class="form-row">
						<div class="col">
							<label for="password">Mot de passe</label>
							<input type="password" class="form-control" name="password" required>
						</div>
						<div class="col">
							<label for="confirm-password">confirmer le mot de passe</label>
							<input type="password" class="form-control" name="confirm-password" required>
						</div>
					</div>
					<div>
						<input type="hidden" name="CSRFtoken" value="{{ CSRFtoken }}">
						<button type="submit" class ="btn btn-primary">Changer le mot de passe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}