{% extends "/base.twig" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Connexion{% endblock %}
{% block content %}
<style>
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
</style>
	<div class="container centered">
		<div class="card">
			<div class="card-body">
				<h1>Connexion</h1>
				<hr>
				{% if message != null %}
					<div class="alert alert-{{ message.type }}">
						{{ message.text }}
					</div>
				{% endif %}
				<form class="form" method="POST" action="\login">
					<div class="form-group">
						<label for="pseudo">Identifiant</label>
						<input type="text" class="form-control"  name="pseudo" value="{{ pseudo }}" required>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input type="password" class="form-control" name="password" required>
						<p><a href="/forgotPassword"> Mot de passe oublié ?</a></p>
					</div>
					<div class="">
						<input type="hidden" name="CSRFtoken" value="{{ CSRFtoken }}">
						<p class="pb-0">Pas encore inscrit ? <a href="/register">Inscris-toi</a></p>
						<button type="submit" class ="btn btn-primary">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}