{% extends "base.twig" %}

{% block title %}Interdit
{% endblock %}
{% block content %}
	<div class="container centered">
		<div class="d-flex flex-column text-center">
			<h1>
				Accès interdit
			</h1>
			<p>Il semblerais que vous n'etes pas autorisé a accéder a cette page</p>
		</div>
	</div>
{% endblock %}
